@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background-color: #0B0E21;
}

.profile2{
  background: linear-gradient(211.09deg, #6421FD 18.71%, rgba(181, 19, 242, 0.5) 53.27%);
}

.b_gradient {
  background: linear-gradient(180deg, #3561FF 0%, #8453EA 100%); 
}
.bor_r {
  background: linear-gradient(180deg, #3561FF 0%, #8453EA 100%);
  padding: 1.5px;
  border-radius: 4px;
}
.b_cl{
  background: linear-gradient(91.11deg, #3561FF 15.5%, #8453EA 70.27%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.b_c{
  background: linear-gradient(214.91deg, #6CEDD1 45.22%, #DEF88D 72.14%);
}
.b_o{
  background: linear-gradient(199.82deg, #F9628F 13.25%, #FB687A 66.55%);
}

.profile3 {
  background-image: url('../public//img/profile3.svg');
  background-position: contain;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.job{
  background: linear-gradient(180deg, #3561FF 0%, #8453EA 100%),
  linear-gradient(0deg, #18C1FC, #18C1FC);
}
.blur_bg {
  background-color: rgba(3, 3, 3, 0.3);
  backdrop-filter: blur(3px) saturate(70%) contrast(150%);
}

.blur_btn {
  background-color: rgba(37, 37, 37, 0.5);
}

.raduis {
  border-radius: 0px, 50px, 0px, 0px;
}


/* scroll */

body {
  --black: #000000;
  --ash-black: #222;
  --white: #fff;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --background: var(--blue);
  --accent: var(--white);

  background-color: #0B0E21;
  color: var(--accent);
}

.bg {
  stroke: red;
  opacity: 0.3;
}

#progress .indicator {
  stroke: var(--accent);
}

ul {
  display: flex;
  list-style: none;
  height: fit-content;
  overflow-x: scroll;
  padding: 20px 0;
  gap: 3rem;
  flex: 0 0 400px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: transparent;
  border: 1px solid #18C1FC;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: #18C1FC;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}

li {
  flex: 0 0 fit-content;
}

li:last-of-type {
  margin: 0;
}

.mob_bor-r{
  border-radius: 75px 5px 0px 0px;
}