@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background-color: #0B0E21;
}

.profile2{
  background: linear-gradient(211.09deg, #6421FD 18.71%, rgba(181, 19, 242, 0.5) 53.27%);
}

.b_gradient {
  background: linear-gradient(180deg, #3561FF 0%, #8453EA 100%);
  /* border-image: linear-gradient(180deg, #3561FF 0%, #8453EA 100%); */
  /* border-width: 4px; */
  /* border-style: solid; */
  /* border-radius: 50%; */
  /* border: 16px solid transparent;
  border-image: linear-gradient(180deg, #3561FF 0%, #8453EA 100%);
  border-image-slice: 1;
  height: 150px;
  width: 150px;
  border-radius: 50px; */
  
}
.bor_r {
  background: linear-gradient(180deg, #3561FF 0%, #8453EA 100%);
  padding: 2px;
  border-radius: 6px;

  /* border: 2px solid; */
  /* max-width: 250px;

  /* border-image-source: linear-gradient(180deg, #3561FF 0%, #8453EA 100%);  */
}
.b_c{
  background: linear-gradient(214.91deg, #6CEDD1 45.22%, #DEF88D 72.14%);
}
.b_o{
  background: linear-gradient(199.82deg, #F9628F 13.25%, #FB687A 66.55%);
}

.profile3 {
  background-image: url('../public//img/profile3.svg');
  background-position: contain;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.job{
  background: linear-gradient(180deg, #3561FF 0%, #8453EA 100%),
  linear-gradient(0deg, #18C1FC, #18C1FC);
}
.blur_bg {
  background-color: rgba(3, 3, 3, 0.3);
  backdrop-filter: blur(3px) saturate(70%) contrast(150%);
}

.blur_btn {
  background-color: rgba(37, 37, 37, 0.5);
  /* backdrop-filter: blur(6px) saturate(40%) contrast(150%); */
}

.raduis {
  border-radius: 0px, 50px, 0px, 0px;
}